.c-nav {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}

.contact-btn {
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}

.contact-btn:hover {
  background-color: var(--black);
}